<div>
  <div>
    <% @users.each do |user| %>
      <div>
        <%= image_tag user.get_profile_image %>
        <h2><%= user.name %></h2>
        <h4><%= user.profile %></h4>
      </div>
    <% end %>
  </div>
</div>